<template name="LogsListOwner">
    <table class="table">
        <tbody>
        {{#each logs}}
            <tr>
                <td>{{contactFullName}}</td>
                <td>{{contactGroup}}</td>
                <td>{{address.city}} / {{address.country}}</td>
                <td class="text-right"><a class="btn btn-xs btn-danger remove-log" data-id="{{_id}}"><i class="glyphicon glyphicon-remove"></i></a></td>
            </tr>
        {{else}}
            You don't have any groups.. yet!
        {{/each}}
        </tbody>
    </table>
</template>
