<template name="MainMenu">
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active">
                    <a href="/intro">
                        <i class="fa fa-bullhorn"></i> <span>Intro</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/logs">
                        <i class="fa fa-pencil-square"></i> <span>Logs</span>
                    </a>
                </li>
                <li>
                    <a href="/groups">
                        <i class="fa fa-users"></i> <span>Groups</span>
                    </a>
                </li>
                <li>
                    <a href="/statistics">
                        <i class="fa fa-bar-chart"></i> <span>Statistics</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</template>
