<template name="GroupsAdd">
    <section class="content-header">
        <h1>Add Group</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box box-primary">
                    <div class="box-body">
                        {{#autoForm schema=schemaGroupAdd validation="blur" id="form-group-add"}}
                            {{> afQuickField name="name"}}
                            <div class="map-container form-group">
                                <label class="control-label">Coordinates</label>
                                Click to create a marker, thereafter drag it to the final position
                                {{> googleMap name="groupAddMap" options=mapOptions}}
                            </div>
                            {{> afQuickField name="locationLatitude"}}
                            {{> afQuickField name="locationLongitude"}}
                            <button type="submit" class="btn btn-primary">Create</button>
                        {{/autoForm}}
                        {{#if feedbackGroupsAdd}}
                    		<div class="alert alert-{{feedbackGroupsAdd.type}}">{{feedbackGroupsAdd.message}}</div>
                		{{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
